# 기본 패키지
requests>=2.25.0
python-dotenv>=0.15.0
pyyaml>=6.0

# 필요한 기능별 패키지
# OCR 관련
# pdf 처리 관련
PyPDF2>=2.0.0

huggingface-hub
openai
pandas 
tqdm
load_dotenv
numpy<2
seaborn
PyMuPDF
ultralytics>=8.2.85
unimernet==0.2.1
openpyxl
flask